In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("titanic/train.csv")
test = pd.read_csv("titanic/test.csv")

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [42]:
np.random.seed(0)
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.5)

In [43]:
x_train.head()

     Sex_binario   Age
213            0  30.0
586            0  47.0
499            0  24.0
821            0  27.0
246            1  25.0

In [46]:
x_train.shape, x_valid.shape, y_train.shape, y_valid.shape

((445, 2), (446, 2), (445,), (446,))

In [47]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs = -1, random_state=0)
modelo.fit(x_train,y_train)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [49]:
p = modelo.predict(x_valid)

In [51]:
np.mean(y_valid == p)

0.7690582959641256

In [52]:
p = (x_valid['Sex_binario'] == 1).astype(np.int64)
np.mean(y_valid == p)

0.7825112107623319

In [7]:
variaveis = ['Sex_binario', 'Age']

In [8]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [9]:
def transformar_sexo(valor):
    if valor =='female':
        return 1
    else:
        return 0
train['Sex_binario'] = train['Sex'].map(transformar_sexo)
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [10]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [11]:


variaveis = ['Sex_binario', 'Age']

x = train[variaveis]
y = train['Survived']

In [12]:
x.head()

   Sex_binario   Age
0            0  22.0
1            1  38.0
2            1  26.0
3            1  35.0
4            0  35.0

In [13]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [15]:
x = x.fillna(-1)
modelo.fit(x, y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [16]:
x_prev = test[variaveis]

In [17]:
x_prev.head()

   Sex_binario   Age
0            0  34.5
1            1  47.0
2            0  62.0
3            0  27.0
4            1  22.0

In [18]:
x_prev = x_prev.fillna(-1)

In [19]:
p = modelo.predict(x_prev)

In [21]:
p

array([0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [22]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [38]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')
sub.shape

(418,)

In [39]:
sub.to_csv("primeiro_modelo.csv", header=True)

In [40]:
import csv
with open('primeiro_modelo.csv', 'rt') as ficheiro:
    reader = csv.reader(ficheiro)
    for linha in reader:
        print(linha)

['PassengerId', 'Survived']
['892', '0']
['893', '1']
['894', '0']
['895', '1']
['896', '1']
['897', '0']
['898', '1']
['899', '0']
['900', '1']
['901', '0']
['902', '0']
['903', '0']
['904', '1']
['905', '0']
['906', '1']
['907', '1']
['908', '0']
['909', '0']
['910', '1']
['911', '0']
['912', '0']
['913', '1']
['914', '1']
['915', '0']
['916', '1']
['917', '0']
['918', '1']
['919', '0']
['920', '0']
['921', '0']
['922', '0']
['923', '0']
['924', '1']
['925', '1']
['926', '0']
['927', '0']
['928', '1']
['929', '1']
['930', '0']
['931', '0']
['932', '0']
['933', '0']
['934', '0']
['935', '1']
['936', '0']
['937', '0']
['938', '0']
['939', '0']
['940', '1']
['941', '1']
['942', '0']
['943', '1']
['944', '0']
['945', '1']
['946', '0']
['947', '0']
['948', '0']
['949', '0']
['950', '0']
['951', '1']
['952', '0']
['953', '0']
['954', '0']
['955', '1']
['956', '1']
['957', '1']
['958', '1']
['959', '0']
['960', '0']
['961', '1']
['962', '1']
['963', '0']
['964', '1']
['965', '0']
['966', '1']
['967', '0']
['968', '0']
['969', '1']
['970', '0']
['971', '1']
['972', '1']
['973', '0']
['974', '1']
['975', '0']
['976', '0']
['977', '0']
['978', '1']
['979', '1']
['980', '1']
['981', '0']
['982', '1']
['983', '0']
['984', '1']
['985', '0']
['986', '0']
['987', '0']
['988', '1']
['989', '0']
['990', '0']
['991', '0']
['992', '1']
['993', '1']
['994', '0']
['995', '0']
['996', '1']
['997', '0']
['998', '0']
['999', '0']
['1000', '0']
['1001', '0']
['1002', '0']
['1003', '1']
['1004', '1']
['1005', '1']
['1006', '1']
['1007', '0']
['1008', '0']
['1009', '1']
['1010', '0']
['1011', '1']
['1012', '0']
['1013', '0']
['1014', '1']
['1015', '0']
['1016', '0']
['1017', '1']
['1018', '0']
['1019', '1']
['1020', '0']
['1021', '0']
['1022', '0']
['1023', '0']
['1024', '1']
['1025', '0']
['1026', '0']
['1027', '0']
['1028', '0']
['1029', '0']
['1030', '1']
['1031', '0']
['1032', '0']
['1033', '1']
['1034', '0']
['1035', '0']
['1036', '0']
['1037', '0']
['1038', '0']
['1039', '0']
['1040', '0']
['1041', '0']
['1042', '1']
['1043', '0']
['1044', '0']
['1045', '1']
['1046', '1']
['1047', '0']
['1048', '1']
['1049', '1']
['1050', '0']
['1051', '1']
['1052', '1']
['1053', '0']
['1054', '1']
['1055', '0']
['1056', '0']
['1057', '1']
['1058', '1']
['1059', '0']
['1060', '1']
['1061', '1']
['1062', '0']
['1063', '1']
['1064', '0']
['1065', '0']
['1066', '0']
['1067', '1']
['1068', '0']
['1069', '0']
['1070', '1']
['1071', '1']
['1072', '0']
['1073', '0']
['1074', '1']
['1075', '0']
['1076', '1']
['1077', '0']
['1078', '1']
['1079', '0']
['1080', '1']
['1081', '0']
['1082', '0']
['1083', '0']
['1084', '0']
['1085', '0']
['1086', '0']
['1087', '0']
['1088', '1']
['1089', '1']
['1090', '0']
['1091', '1']
['1092', '1']
['1093', '1']
['1094', '0']
['1095', '1']
['1096', '0']
['1097', '0']
['1098', '1']
['1099', '0']
['1100', '1']
['1101', '0']
['1102', '0']
['1103', '0']
['1104', '0']
['1105', '1']
['1106', '1']
['1107', '0']
['1108', '1']
['1109', '0']
['1110', '1']
['1111', '0']
['1112', '1']
['1113', '0']
['1114', '1']
['1115', '0']
['1116', '1']
['1117', '1']
['1118', '0']
['1119', '1']
['1120', '0']
['1121', '0']
['1122', '0']
['1123', '1']
['1124', '0']
['1125', '0']
['1126', '0']
['1127', '0']
['1128', '0']
['1129', '0']
['1130', '1']
['1131', '1']
['1132', '1']
['1133', '0']
['1134', '0']
['1135', '0']
['1136', '0']
['1137', '0']
['1138', '1']
['1139', '0']
['1140', '1']
['1141', '1']
['1142', '1']
['1143', '0']
['1144', '1']
['1145', '0']
['1146', '0']
['1147', '0']
['1148', '0']
['1149', '0']
['1150', '1']
['1151', '0']
['1152', '0']
['1153', '0']
['1154', '1']
['1155', '1']
['1156', '0']
['1157', '0']
['1158', '0']
['1159', '0']
['1160', '1']
['1161', '0']
['1162', '0']
['1163', '0']
['1164', '1']
['1165', '1']
['1166', '0']
['1167', '0']
['1168', '0']
['1169', '0']
['1170', '0']
['1171', '0']
['1172', '1']
['1173', '1']
['1174', '1']
['1175', '0']
['1176', '0']
['1177', '0']
['1178', '0']
['1179', '0']
['1180', '0']
['1181', '0']
['1182', '0']
['1183', '1']
['1184', '0']
['1185', '0']
['1186', '0']
['1187', '0']
['1188', '1']
['1189', '0']
['1190', '0']
['1191', '0']
['1192', '0']
['1193', '0']
['1194', '0']
['1195', '0']
['1196', '1']
['1197', '1']
['1198', '0']
['1199', '1']
['1200', '0']
['1201', '0']
['1202', '0']
['1203', '0']
['1204', '0']
['1205', '0']
['1206', '1']
['1207', '1']
['1208', '0']
['1209', '0']
['1210', '1']
['1211', '0']
['1212', '0']
['1213', '0']
['1214', '0']
['1215', '0']
['1216', '1']
['1217', '0']
['1218', '0']
['1219', '0']
['1220', '0']
['1221', '0']
['1222', '1']
['1223', '0']
['1224', '0']
['1225', '1']
['1226', '1']
['1227', '0']
['1228', '0']
['1229', '0']
['1230', '0']
['1231', '0']
['1232', '0']
['1233', '0']
['1234', '0']
['1235', '1']
['1236', '0']
['1237', '1']
['1238', '0']
['1239', '1']
['1240', '0']
['1241', '1']
['1242', '0']
['1243', '0']
['1244', '0']
['1245', '1']
['1246', '1']
['1247', '0']
['1248', '1']
['1249', '0']
['1250', '0']
['1251', '1']
['1252', '0']
['1253', '1']
['1254', '1']
['1255', '1']
['1256', '0']
['1257', '1']
['1258', '0']
['1259', '1']
['1260', '0']
['1261', '0']
['1262', '0']
['1263', '1']
['1264', '1']
['1265', '0']
['1266', '1']
['1267', '0']
['1268', '1']
['1269', '0']
['1270', '0']
['1271', '0']
['1272', '0']
['1273', '0']
['1274', '1']
['1275', '1']
['1276', '0']
['1277', '1']
['1278', '0']
['1279', '0']
['1280', '0']
['1281', '1']
['1282', '0']
['1283', '1']
['1284', '1']
['1285', '0']
['1286', '0']
['1287', '1']
['1288', '0']
['1289', '1']
['1290', '0']
['1291', '0']
['1292', '1']
['1293', '0']
['1294', '1']
['1295', '0']
['1296', '0']
['1297', '0']
['1298', '0']
['1299', '0']
['1300', '1']
['1301', '0']
['1302', '1']
['1303', '0']
['1304', '1']
['1305', '0']
['1306', '1']
['1307', '0']
['1308', '0']
['1309', '0']